<ion-list >
  <ion-item margin-bottom>
    <ion-avatar slot="start">
      <ion-img src="/assets/img/edandraCrowdfunding-min.jpg" ></ion-img>
    </ion-avatar>
    <ion-label>
      Hi, hello
    </ion-label>

    <ion-button slot="end" color="danger" fill="outline">
      Dont-Trust
      <ion-icon name="close-circle" slot="end"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item margin-bottom>
    <ion-avatar slot="start" >
    <ion-img src="/assets/img/edandraCrowdfunding-min.jpg" ></ion-img>
    </ion-avatar>
    <ion-label>
      Hi, hello
    </ion-label>

    <ion-button slot="end" color="danger" fill="outline">
      Dont-Trust
      <ion-icon name="close-circle" slot="end"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item margin-bottom>
    <ion-avatar slot="start" >
    <ion-img src="/assets/img/edandraCrowdfunding-min.jpg" ></ion-img>
    </ion-avatar>
    <ion-label>
      Hi, hello
    </ion-label>

    <ion-button slot="end" color="danger" fill="outline">
      Dont-Trust
      <ion-icon name="close-circle" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>