
    

        <ion-item margin-bottom>
          <ion-thumbnail slot="start">
            <ion-img src="/assets/img/edandraCrowdfunding-min.jpg" ></ion-img>
          </ion-thumbnail>
          <ion-label>
            Hi, hello
          </ion-label>
      
          <ion-button slot="end" color="warning" fill="outline">
            Stop Notifying
            <ion-icon name="notifications-off" slot="end"></ion-icon>
          </ion-button>
        </ion-item>
      
        <ion-item margin-bottom>
          <ion-thumbnail slot="start">
          <ion-img src="/assets/img/edandraCrowdfunding-min.jpg" ></ion-img>
          </ion-thumbnail>
          <ion-label>
            Hi, hello
          </ion-label>
      
          <ion-button slot="end" color="warning" fill="outline">
            Stop Notifying
            <ion-icon name="notifications-off" slot="end"></ion-icon>
          </ion-button>
        </ion-item>
      
        <ion-item margin-bottom>
          <ion-thumbnail slot="start" >
          <ion-img src="/assets/img/edandraCrowdfunding-min.jpg" ></ion-img>
          </ion-thumbnail>
          <ion-label>
            Hi, hello
          </ion-label>
      
          <ion-button slot="end" color="warning" fill="outline">
            Stop Notifying
            <ion-icon name="notifications-off" slot="end"></ion-icon>
          </ion-button>
        </ion-item>
      
