<ion-row>
  <ion-col>
    <ion-card padding-vertical>
      <ion-item>
        <ion-thumbnail slot="start" class="updates-card-image">
          <ion-img src="/assets/img/edandraCrowdfunding-min.jpg" ></ion-img>
        </ion-thumbnail>
        <ion-card-subtitle>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Pariatur officia cumque nulla nostrum enim numquam recusandae 
          rem aspernatur, in minima eum velit sunt! Ratione culpa nemo illum repellendus eveniet voluptate!
        </ion-card-subtitle>
      </ion-item>
    </ion-card>

    <ion-card padding-vertical>
      <ion-item>
        <ion-thumbnail slot="start" class="updates-card-image">
          <ion-img src="/assets/img/edandraCrowdfunding-min.jpg" ></ion-img>
        </ion-thumbnail>
        <ion-card-subtitle>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Pariatur officia cumque nulla nostrum enim numquam recusandae 
          rem aspernatur, in minima eum velit sunt! Ratione culpa nemo illum repellendus eveniet voluptate!
        </ion-card-subtitle>
      </ion-item>
    </ion-card>

    <ion-card padding-vertical>
      <ion-item>
        <ion-thumbnail slot="start" class="updates-card-image">
          <ion-img src="/assets/img/edandraCrowdfunding-min.jpg" ></ion-img>
        </ion-thumbnail>
        <ion-card-subtitle>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Pariatur officia cumque nulla nostrum enim numquam recusandae 
          rem aspernatur, in minima eum velit sunt! Ratione culpa nemo illum repellendus eveniet voluptate!
        </ion-card-subtitle>
      </ion-item>
    </ion-card>

  </ion-col>
</ion-row>
