<ion-card button=true [routerLink]="['/details']" >
  <ion-card-header>
    <ion-item lines="none" no-padding>
        <ion-avatar slot="start" >
            <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-avatar>
        <ion-label>
            <h3>Sam Prabin</h3>
            <p>Chennai @ Sunday 4pm</p>
        </ion-label>
    </ion-item>
  </ion-card-header>

  <ion-img src="/assets/img/edandraCrowdfunding-min.jpg"></ion-img>
  
  <ion-card-content>
    <ion-card-subtitle>
      Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.
    </ion-card-subtitle>
  </ion-card-content>
</ion-card>