<ion-row>
  <ion-col>
      <ion-item>
          <ion-avatar slot="start">
          <ion-img src="/assets/img/edandraCrowdfunding-min.jpg" ></ion-img>
          </ion-avatar>
          <ion-label text-wrap>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Soluta voluptas quae dolore, exercitationem ipsa ad necessitatibus 
            natus qui molestiae tempora nobis voluptatibus nulla placeat odio. 
            Cum in ex labore adipisci.hgj  gjhkg uguk g
            <br>
            <ion-button fill="clear">
              view reply
            </ion-button>
          </ion-label>
        </ion-item>
    
        <ion-item>
        <ion-avatar slot="start" >
          <ion-img src="/assets/img/edandraCrowdfunding-min.jpg" ></ion-img>
        </ion-avatar>
        <ion-label text-wrap>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Placeat ab minima ex beatae consectetur deserunt aut excepturi magni 
          reprehenderit? Soluta libero minus repellat quia possimus officia 
          unde sit molestiae reiciendis?
        </ion-label>
      </ion-item>
    
      <ion-item>
        <ion-avatar slot="start" >
          <ion-img src="/assets/img/edandraCrowdfunding-min.jpg" ></ion-img>
        </ion-avatar>
        <ion-label text-wrap>
          Hi, hello
        </ion-label>
      </ion-item>
  </ion-col>
</ion-row>
