<ion-content >
  <ion-card no-margin>
    <ion-img src="/assets/img/signin-image.jpg"></ion-img>
    <ion-card-header padding>
        <ion-card-title>
          IRANIYAM
        </ion-card-title>
        <ion-card-subtitle>
          Heloo This is Iraniyam
        </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-card>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" inputmode="email" ></ion-input>
          </ion-item>
          <ion-item >
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" inputmode="password" ></ion-input>
          </ion-item>
      </ion-card>
      <ion-button>Login</ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content>
